.post {
  max-width: 500px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Each section is a ROW */
.post-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Header row */
.header {
  gap: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Content row */
.content {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.post-image {
  width: 100%;
  border-radius: 10px;
}

/* Actions row */
.actions {
  border-top: 1px solid #eee;
  padding-top: 8px;
  gap: 5px;
}

.actions * {
  border: none;
  cursor: pointer;
  font-size: 22px;
}