.sidebar {
    background: var(--primary-bg);
    padding: 5px;
    padding-top: 0;
    padding: 8px 4px;
    padding-top: 8px;
    color: var(--text-primary);
    left: 0;
    top: 56px;
    bottom: 0;
    width: 45px;
    transition: all 0.2s ease-in-out;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    background-color: var(--primary-bg);
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 4px;
    color: var(--text-primary);
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.nav-item span {
    display: none;
    transition: all 0.5s ease;
}

.sidebar:hover {
    width: 200px;
}

.sidebar:hover span {
    display: block;
}

.nav-item:hover {
    background-color: var(--hover-bg);
}

.nav-item.active {
    background-color: var(--hover-bg);
}

.feed-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:640px) {
    .feed-container {
        margin-left: 0;
        padding: 5px;
    }

    .feed-container a {
        width: 100%;
    }

    .sidebar {
        right: 0;
        top: unset;
        bottom: 0;
        display: flex;
        height: 55px;
        width: 100%;
        justify-content: space-around;
    }

    .sidebar span {
        display: block;
    }

    .nav-item {
        flex: 1;
        display: flex;
        gap: 5px;
        flex-direction: column;
        padding: 5px 16px;
    }

    .sidebar:hover {
        width: 100%;
    }
}


.error {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}