.sidebar {
    background: white;
    padding: 5px;
    padding-top: 0;
    color: #0f0f0f;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 28px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    overflow: hidden;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 4px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 4px;
    display: inline-flex;
}

.sidebar:hover {
    width: 160px;
}

.nav-item:hover {
    background-color: #f2f2f2;
}

.nav-item.active svg {
    background-color: #696565;
}