:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color palet */
  --primary-color: #1a1a1a;
  --secondary-color: #f1f3ef;
  --accent-color: #6b8f71;
  --accent-hover: #079471;
  --hover-color: #f5f5f5;
  --primary-bg: #ffffff;
  --secondary-bg: #f9f9f9;
  --text-primary: #0f0f0f;
  --text-secondary: #31373574;
  --text-third: #02f5a074;
  --border-color: #e5e5e5;
  --hover-bg: hsl(0, 0%, 75%);

  --hover-bg: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.youtube-clone {
  background-color: var(--secondary-color);
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  background-color: var(--secondary-bg);
  color: var(--text-primary);
}

.youtube-clone {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Main Layout */
.feed-container {
  flex: 1;
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  display: flex;
  flex-wrap: wrap;
}